<%- include("components/database-sidebar", {currentPath, entities, version, enabled }) %> <% title = "Fakelab | Database" %>
<main class="main">
  <header class="header"></header>
  <div class="preview">
    <div class="nodata">
      <span>Select a entity to load the table.</span>
    </div>
  </div>
</main>
