<%- include("components/sidebar", {currentPath, entities, version }) %> <% title = "Fakelab" %>
<main class="main">
  <header class="header"></header>
  <div class="preview">
    <div class="nodata">
      <span>Select a interface to load data.</span>
    </div>
  </div>
</main>
