<%- include("components/sidebar", { entities, version, dbEnabled, name }) %> <% title = "Fakelab" %>
<main class="main">
  <header class="header"></header>
  <div class="preview">
    <div class="nodata">
      <span>Select a entity to load the data.</span>
    </div>
  </div>
</main>
