@font-face {
  font-family: inter;
  src: url(/fonts/Inter-Regular.ttf) format(woff);
  width: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: inter;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.hljs {
  background: none !important;
}

pre {
  margin: 0;
}

.root {
  display: flex;
  width: 100%;
  height: 100%;
  background: oklch(27.8% 0.033 256.848);
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 350px;
  min-width: 350px;
  box-shadow: 1px 0px 3px oklch(20.992% 0.03416 263.451 / 0.356);
}

.sidebar .logo {
  height: 65px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  color: oklch(98.5% 0.002 247.839);
  text-decoration: none;
}

.sidebar .sidebar_docs {
  margin-top: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background-color: oklch(37.306% 0.03436 260.191 / 0.26);
  > span {
    color: oklch(98.5% 0.002 247.839);
    font-size: 14px;
  }
}

.sidebar .sidebar_footer {
  margin-top: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar_footer span {
  color: oklch(98.463% 0.00181 249.248 / 0.76);
  font-size: 12px;
}

.sidebar .sidebar_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding-block: 16px;
}

.sidebar_content .sidebar_content_leading {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.sidebar_content .sidebar_content_list {
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: auto;
}

.sidebar_content_list::-webkit-scrollbar {
  width: 10px;
}
.sidebar_content_list::-webkit-scrollbar-track {
  background: oklch(27.8% 0.033 256.848);
}
.sidebar_content_list::-webkit-scrollbar-thumb {
  background: hsl(216, 31%, 24%);
  border-radius: 99px;
}

.sidebar_content_list .sidebar_content_list_item {
  padding: 12px 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  &:hover > .item_name {
    color: oklch(98.5% 0.002 247.85);
  }
  &:hover > .item_filepath {
    color: oklch(98.463% 0.00181 249.248 / 0.8);
  }
}

.sidebar_content_list_item .item_name {
  transition: all 250ms ease-in-out;
  color: oklch(98.463% 0.00181 249.248 / 0.726);
  user-select: none;
  font-size: 14px;
}

.sidebar_content_list_item .item_filepath {
  transition: all 250ms ease-in-out;
  white-space: nowrap;
  line-clamp: 1;
  text-overflow: ellipsis;
  font-size: 12px;
  color: oklch(98.463% 0.00181 249.248 / 0.6);
  font-style: italic;
}

.sidebar_content_list_item.active {
  background-color: oklch(37.306% 0.03436 260.191 / 0.26);

  > .item_name {
    color: oklch(98.5% 0.002 247.85);
  }

  > .item_filepath {
    color: oklch(98.463% 0.00181 249.248 / 0.8);
  }
}

.sidebar_content_leading .sidebar_content_title {
  color: oklch(98.5% 0.002 247.839);
  font-size: 14px;
}

.sidebar_content_leading .sidebar_content_indicator_icon {
  width: 8px;
  height: 8px;
  border-radius: 99px;
  background: oklch(68.5% 0.169 237.323);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 99px;
    background: oklch(68.5% 0.169 237.323);
    animation: blink 2s infinite ease-in-out;
    transform-origin: center;
    z-index: 1;
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-width: 441px;
}

.header {
  flex-basis: 65px;
  border-bottom: 1px solid oklch(21% 0.034 264.665);
  padding-inline: 16px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.header .interface_name {
  font-size: 16px;
  color: oklch(98.463% 0.00181 249.248 / 0.8);
}

.interface_name .interface_source_filepath {
  font-size: 12px;
  color: oklch(98.463% 0.00181 249.248 / 0.6);
  font-style: italic;
}

.preview {
  background: oklch(21% 0.034 264.665);
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.preview::-webkit-scrollbar {
  width: 10px;
}
.preview::-webkit-scrollbar-track {
  background: oklch(21% 0.034 264.665);
}
.preview::-webkit-scrollbar-thumb {
  background: oklch(27.8% 0.033 256.848);
  border-radius: 99px;
}

.preview .preview_toolbar {
  max-height: fit-content;
  flex: 1;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: sticky;
  top: 0px;
  background-color: oklch(21% 0.034 264.665);
}

.preview_toolbar .data_fetch_address {
  background: oklch(27.8% 0.033 256.848);
  padding-inline: 12px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px hsl(220, 43%, 10%);
  min-width: 300px;
}

.preview_toolbar .toolbar_actions {
  background: oklch(27.8% 0.033 256.848);
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 2px hsl(220, 43%, 10%);
}

.toolbar_actions .toolbar_action_item {
  transition: opacity 250ms ease-in-out;
  height: 100%;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover > .icon {
    opacity: 1;
  }
}

.preview_toolbar .divider {
  width: 1px;
  height: 12px;
  background-color: hsla(210, 20%, 80%, 0.2);
}

.preview_toolbar .toolbar_setting {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  /* > .toolbar_setting_count_input {
    border: 1px solid oklch(98.463% 0.00181 249.248 / 0.171);
    outline: none;
    border-radius: 4px;
    padding-inline: 8px;
    height: 32px;
    color: oklch(98.463% 0.00181 249.248 / 0.801);
    background: transparent;
    font-family: inter;
  } */
}
.toolbar_setting .toolbar_setting_option {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: oklch(27.8% 0.033 256.848);
  box-shadow: 0px 0px 2px hsl(220, 43%, 10%);
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: opacity 250ms ease-in-out;
  &:hover > .icon {
    opacity: 1;
  }
}

.toolbar_setting .toolbar_setting_overlay {
  display: none;
  position: absolute;
  left: calc(100% + 8px);
  top: 0px;
  width: 300px;
  height: fit-content;
  background: oklch(27.8% 0.033 256.848);
  box-shadow: 0px 0px 2px hsl(220, 43%, 10%);
  border-radius: 4px;
  flex-direction: column;
  gap: 4px;
  z-index: 99;
  padding: 16px;

  &[data-visible="true"] {
    display: flex;
  }
}

.toolbar_setting_overlay .setting_title {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.toolbar_setting_overlay .setting_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 16px;
}
.setting_form .form_input {
  display: flex;
  flex-direction: column;
  gap: 2px;
  &[data-visible="false"] {
    display: none;
  }
}

.setting_form .form_input.inline {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.setting_form .form_buttons {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  margin-top: 8px;
}

.form_buttons .form_apply_btn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  height: 38px;
  color: #fff;
  background-color: oklch(68.5% 0.169 237.323);
  margin-top: auto;
  border-radius: 4px;
  cursor: pointer;
  font-family: inter;
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: oklch(58.8% 0.158 241.966);
  }
}

.form_buttons .form_reset_btn {
  display: flex;
  flex: 1;
  outline: none;
  align-items: center;
  justify-content: center;
  border: none;
  height: 38px;
  color: #fff;
  background-color: hsl(216, 31%, 23%);
  margin-top: auto;
  border-radius: 4px;
  cursor: pointer;
  font-family: inter;
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: hsl(216, 31%, 20%);
  }
}

.form_input input {
  border: 1px solid oklch(98.463% 0.00181 249.248 / 0.171);
  outline: none;
  border-radius: 4px;
  padding-inline: 8px;
  height: 32px;
  color: oklch(98.463% 0.00181 249.248 / 0.801);
  background: transparent;
  font-family: inter;
  font-size: 12px;
}

.form_input label {
  font-size: 12px;
  color: #fff;
}

.form_input span {
  font-size: 10px;
  color: oklch(98.463% 0.00181 249.248 / 0.801);
}
.data_fetch_address .address {
  font-size: 12px;
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  gap: 8px;

  > .address_method {
    color: oklch(75% 0.183 55.934);
    font-weight: 500;
  }
  > .address_url {
    color: oklch(98.463% 0.00181 249.248 / 0.801);
  }
}

.preview_toolbar.loading {
  display: none;
}

.preview .nodata {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: oklch(98.463% 0.00181 249.248 / 0.61);
  font-size: 14px;
}

.preview-loading {
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.preview-loading.loading {
  display: flex;
}

.code.loading {
  display: none;
}

.error {
  display: none;
  font-size: 14px;
  color: oklch(50.5% 0.213 27.518);
}

.error.visible {
  display: block;
}

.loader {
  width: 30px;
  height: 30px;
  border: 4px solid oklch(98.463% 0.00181 249.248 / 0.24);
  border-top: 4px solid #f9fafb7c;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.visible {
  display: inline-block;
}

.icon {
  pointer-events: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.icon.pointer_auto {
  pointer-events: auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 6px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(216, 31%, 25%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;
  height: 6px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -1px;
  bottom: -5px;
  background-color: hsl(216, 31%, 32%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background-color: oklch(68.5% 0.169 237.323);
}

.unique_id_hint {
  font-size: 10px;
  color: oklch(98.463% 0.00181 249.248 / 0.801);
}

.unique_strategy {
  margin-top: 8px;
  display: none;
  flex-direction: column;
  gap: 16px;
  &[data-visible="true"] {
    display: flex;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
